@model TaxiReservationViewModel

@{
    ViewData["Title"] = "TaxiReservation";
}

<h1>@localizer["Add a new Reservation"]</h1>
<form asp-controller="Reservation" asp-action="AddTaxiReservation" asp-route-Userid=@ViewData["UserId"] method="post">
    <div class="form-group">
        <p>
            <span asp-validation-for="TaxiReservationStart" class="text-danger"></span>
        </p>
        <label asp-for="TaxiReservationStart">@localizer["Start date:"]</label>
        <input type="datetime-local" asp-for="TaxiReservationStart" value="YYYY-MM-DD" min="2019-01-01 00:00" max="2025-12-31 00:00">
    </div>
    <div class="form-group">
        <p>
            <span asp-validation-for="StartLocal" class="text-danger"></span>
        </p>
        <label asp-for="StartLocal">@localizer["Pick-up location:"]</label>
        <input type="text" input asp-for="StartLocal"  >
    </div>
    <div class="form-group">
        <p>
            <span asp-validation-for="EndLocal" class="text-danger"></span>
        </p>
        <label asp-for="EndLocal">@localizer["Drop-off location:"]</label>
        <input type="text" input asp-for="EndLocal"  >
    </div>
    <div class="form-group">
        <p>
            <span asp-validation-for="TaxiNumberOfGuest" class="text-danger"></span>
        </p>
        <label asp-for="TaxiNumberOfGuest">@localizer["Number of guests:"]</label>
        <input type="number" min="1" max="100" asp-for="TaxiNumberOfGuest" class="form-control" />
    </div>
    <div class="form-group">
        <p>
            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
        </p>
        <label asp-for="PhoneNumber">@localizer["Contact phone number :"]</label>
        <input type="tel" asp-for="PhoneNumber" class="form-control" />
    </div>
    <button type="submit" class="btn btn-success">@localizer["Make Reservation"]</button>
</form>