@model IndexViewModel

@if (Model.User != null && (Model.User.Id.Equals(Model.Hotel.UserId) || User.IsInRole("Admin")))
{
    <h1>@Model.Hotel.HotelName 's reservations</h1>

    <table class="table">
        <tr>
            <th>Room</th>
            <th>From</th>
            <th>To</th>
            <th>Number of Guests</th>
            <th>Name of Guests</th>
            <th>Total Price</th>
        </tr>
        @foreach (var reservation in Model.Reservations)
        {
            <tr>
                @foreach (var room in Model.Hotel.Rooms)
                {
                    @if (reservation.RoomId == room.RoomId)
                    {
                        <td>@room.RoomName</td>
                    }
                }
                    <td>@reservation.ReservationStart.ToString("yyyy/MM/dd")</td>
                    <td>@reservation.ReservationEnd.ToString("yyyy/MM/dd")</td>
                    <td>@reservation.NumberOfGuest</td>
                    <td>
                        @foreach (var guest in reservation.GuestsList)
                        {
                            <div>
                                <span>@guest.GuestName</span>
                            </div>
                        }
                    </td>
                    <td>@reservation.TotalPrice Ft</td>
                </tr>
            }
    </table>
}