@model IndexViewModel

@{
    ViewData["Title"] = "MyReservation";
}

<h1>My Reservation</h1>

<table class="table">
    <tr>
        <th>Reservation Start</th>
        <th>Reservation End</th>
        <th>Hotel</th>
        <th>Number of Guests</th>
        <th>Total price</th>
        <th>Name of Guests</th>
    </tr>
    @foreach (var reservation in @Model.Reservations)
    {
    @foreach (var hotel in Model.HotelList)
   {<tr>
        <td>@reservation.ReservationStart.ToString("yyyy/MM/dd")</td>
        <td>@reservation.ReservationEnd.ToString("yyyy/MM/dd")</td>
    @if (reservation.HotelId == hotel.HotelId)
    {
        <td>@hotel.HotelName</td>
    }
        <td>@reservation.NumberOfGuest</td>
        <td>@reservation.TotalPrice ft</td>
        <td>
            @foreach (var guest in reservation.GuestsList)
            {
                <div>
                    <span>@guest.GuestName</span>
                </div>
            }
        </td>
    @if (reservation.ReservationStart > DateTime.Now.AddDays(+1))
    {
        <td>
            <form asp-controller="Reservation" asp-action="CancelReservation" asp-route-ReservationId="@reservation.ReservationId" method="post">
                <button type="submit" class="btn btn-primary">Cancel</button>
            </form>
        </td>
    }
</tr>
        }
    }
</table>
<form asp-controller="Reservation" asp-action="CleanReservation" asp-route-UserId="@Model.User.Id" method="post">
    <button type="submit" class="btn btn-primary">Clean up</button>
</form>