@model IndexViewModel

@{
    ViewData["Title"] = @localizer["MyReservation"];
}
<br />
<div class="card">
    <div class="card-header">
        <h4>@localizer["My Reservation"]</h4>
    </div>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>@localizer["Reservation Start"]</th>
                <th>@localizer["Reservation End"]</th>
                <th>Hotel</th>
                <th>@localizer["Number of Guests"]</th>
                <th>@localizer["Total price"]</th>
                <th>@localizer["Name of Guests"]</th>
                <th></th>
            </tr>
        </thead>
        @foreach (var reservation in @Model.Reservations)
        {
            <tbody>
                <tr>
                    <td>@reservation.ReservationStart.ToString("yyyy/MM/dd")</td>
                    <td>@reservation.ReservationEnd.ToString("yyyy/MM/dd")</td>
                    <td>
                        @foreach (var hotel in Model.HotelList)
                        {@if (reservation.HotelId == hotel.HotelId)
                            {
                                <a asp-controller="Hotel" asp-action="HotelInfo" asp-route-hotelId="@hotel.HotelId">@hotel.HotelName</a>
                            }
                    }
                    </td>
                    <td>@reservation.NumberOfGuest</td>
                    <td>@reservation.TotalPrice ft</td>
                    <td>
                        @foreach (var guest in reservation.GuestsList)
                        {
                            <div>
                                <span>@guest.GuestName</span>
                            </div>
                        }
                    </td>
                    <td>
                        @if (reservation.ReservationStart > DateTime.Now.AddDays(+1))
                        {

                            <form asp-controller="Reservation" asp-action="CancelReservation" asp-route-ReservationId="@reservation.ReservationId" method="post">
                                <button type="submit" class="btn btn-outline-dark btn-sm">@localizer["Cancel"]</button>
                            </form>
                        }
                    </td>
                    </tr>
            </tbody>
        }
    </table>
</div>
<br />
<div class="card">
    <div class="card-header">
        <h4>@localizer["Taxi Reservations"]</h4>
    </div>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>@localizer["Start"]</th>
                <th>@localizer["Pick-up local"]</th>
                <th>@localizer["Drop-off local"]</th>
                <th>@localizer["Number of travelers"]</th>
                <th>@localizer["Phone Number"]</th>
                <th></th>
            </tr>
        </thead>
        @foreach (var taxi in Model.TaxiReservations)
        {
            <tbody>
                <tr>
                    <td><time>@taxi.TaxiReservationStart</time></td>
                    <td>@taxi.StartLocal</td>
                    <td>@taxi.EndLocal</td>
                    <td>@taxi.NumberOfGuest</td>
                    <td>@taxi.PhoneNumber</td>
                    @if (taxi.TaxiReservationStart > DateTime.Now.AddHours(+1))
                    {
                        <td>
                            <form asp-controller="Reservation" asp-action="CancelTaxiReservation" asp-route-taxiReservationId="@taxi.TaxiReservationId" method="post">
                                <button type="submit" class="btn btn-dark btn-sm">@localizer["Cancel"]</button>
                            </form>
                        </td>
                    }
                </tr>
            </tbody>
        }
    </table>
</div>
<br />
<form asp-controller="Reservation" asp-action="CleanReservation" asp-route-UserId="@Model.User.Id" method="post">
    <button type="submit" class="btn btn-dark btn-sm">@localizer["Clean up"]</button>
</form>