@model IndexViewModel

@{
    ViewData["Title"] = "MyReservation";
}

<h1>My Reservation</h1>


<table class="table">
    <tr>
        <th>Reservation Start</th>
        <th>Hotel</th>
        <th>Number of Guests</th>
        <th>Total price</th>
        <th>Name of Guests</th>
    </tr>
    @foreach (var reservation in @Model.Reservation)
    {
        @foreach (var hotel in Model.HotelList)
        {<tr>
              <td>Valamikor réges régen...</td>
             @if (reservation.HotelId == hotel.HotelId)
             {
              <td>@hotel.HotelName</td>
         }
              <td>@reservation.NumberOfGuest</td>
              <td>@reservation.TotalPrice ft</td>
              <td>@reservation.NameOfGuests</td>
        </tr>
        }
    }
</table>
