@addTagHelper *,ReflectionIT.Mvc.Paging
@model IndexViewModel

@{
    ViewBag.Title = "Home";
}

<form asp-controller="Home" asp-action="Index" method="get">
    <div class="form-group">
        <label asp-for="@Model.QueryParam.City">City</label>
        <input asp-for="@Model.QueryParam.City" class="form-control"/>
    </div>
    <div class="form-group">
        <label asp-for="@Model.QueryParam.Guest">Number of guests</label>
        <input asp-for="@Model.QueryParam.Guest" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Search</button>
</form>

@if (Model != null)
{
    <div>
        <table class="table">
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Price/Night</th>
            </tr>
            @foreach (var hotel in Model.PagingList)
            {
                <tr>
                    <td> @Html.DisplayFor(modelItem => hotel.HotelName) @hotel.StarRating</td>
                    <td> @Html.DisplayFor(modelItem => hotel.Description)</td>
                    <td> @Html.DisplayFor(modelItem => hotel.Price)</td>
                    <td>
                        <form asp-controller="Hotel" asp-action="HotelInfo" asp-route-HotelId="@hotel.HotelId" method="post">
                            <button type="submit" class="btn btn-primary">More Info</button>
                        </form>
                    </td>
                </tr>
            }
        </table>
    </div>
}
<nav aria-label="Page navigation example" class="nav">
    <vc:pager paging-list="@Model.PagingList" />
</nav>