@using HotelBookingGarnet.Models
@using Microsoft.AspNetCore.Identity
@model HotelBookingGarnet.ViewModels.LoginViewModel
@inject SignInManager<User> SignInManager

@{
    ViewData["Title"] =@localizer["Log in"];
}

<h2>@ViewData["Title"]</h2>
<div class="row">
    <div class="col-md-12">
        <section>
            <form asp-controller="Login" asp-action="Login" method="post">
                <h4>@localizer["Use a local account to log in."]</h4>
                @if (Model.ErrorMessages != null)
                {
                    @foreach (var error in Model.ErrorMessages)
                    {
                        <span class="text-danger">@localizer[@error]</span>
                    }
                }
                <hr/>
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Email"></label>
                    <input asp-for="Email" class="form-control"/>
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password"></label>
                    <input asp-for="Password" class="form-control"/>
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">@localizer["Log in"]</button>
                </div>
                <div class="form-group">
                    <p>
                        <a asp-action="Register" asp-controller="Register">@localizer["Register as a new user?"]</a>
                    </p>
                </div>
            </form>
        </section>
    </div>
</div>