@using Microsoft.AspNetCore.Identity
@model IndexViewModel

<div class="card">
    <h1 class="card-header"> @Model.Hotel.HotelName</h1>
    <div class="card-body">
        <div>
            <h5 class="card-title">Country: </h5>
            <p class="card-text">@Model.Hotel.Country</p>
        </div>
        <div>
            <h5 class="card-title">Region: </h5>
            <p class="card-text">@Model.Hotel.Region</p>
        </div>
        <div>
            <h5 class="card-title">City: </h5>
            <p class="card-text">@Model.Hotel.City</p>
        </div>
        <div>
            <h5 class="card-title">Address: </h5>
            <p class="card-text">@Model.Hotel.Address</p>
        </div>
        <div>
            <h5 class="card-title">Description: </h5>
            <p class="card-text">@Model.Hotel.Description</p>
        </div>
        <div>
            <h5 class="card-title">Star Rating: </h5>
            <p class="card-text">@Model.Hotel.StarRating</p>
        </div>
        <div>
            <h5 class="card-title">Property type:</h5>
            <p class="card-text"> @ViewData["propertyType"]</p>
        </div>
        <div>
            <h5 class="card-title">Price:</h5>
            <p class="card-text"> @Model.Hotel.Price Ft</p>
        </div>
        @if (Model.User.Id.Equals(Model.Hotel.UserId) || User.IsInRole("Admin"))
        {
            <form asp-controller="Hotel" asp-action="EditHotel" asp-route-HotelId="@Model.Hotel.HotelId" method="get">
                <button type="submit" class="btn btn-primary">Edit</button>
            </form>
        }
    </div>
</div>