@model Hotel
@*@inject SignInManager<ApplicationUser> signInManager*@


@*@if (User.IsInRole("Hotel Manager"))
    {*@
@*<form asp-controller="Hotel" asp-action="EditHotel" asp-route-HotelId="@Model.HotelId" method="post">
        <button type="submit" class="btn btn-primary">Edit</button>
    </form>*@
@*}*@
<div>
    <h1>Name: @Model.HotelName</h1>
</div>
<div>
    <h5>Country: @Model.Country</h5>
</div>
<div>
    <h5>Region: @Model.Region</h5>
</div>
<div>
    <h5>City: @Model.City</h5>
</div>
<div>
    <h5>Address: @Model.Address</h5>
</div>
<div>
    <h5>Description: @Model.Description</h5>
</div>
<div>
    <h5>Star Rating: @Model.StarRating</h5>
</div>
<div>
    <h5>Property type: @Model.PropertyType</h5>
</div>
<div>
    <h5>Price: @Model.Price Ft</h5>
</div>













