@using Microsoft.AspNetCore.Identity
@using Microsoft.VisualStudio.Web.CodeGeneration
@model IndexViewModel

<div class="card">
    <h1 class="card-header">
        @Model.Hotel.HotelName
        @for (int i = 1; i <= @Model.Hotel.StarRating; i++)
        {
            <img class="my-star" src="~/images/starrating.png"/>
        }
    </h1>
    <div class="card-body">
    <div class="row">
        <div class="col-md-5">
         <table class="table table-borderless">
            <tr>
                <td class="card-title">@localizer["Country"]: </td>
                <td class="card-text">@Model.Hotel.Country</td>
            </tr>
            <tr>
                <td class="card-title">@localizer["Region"]</td>
                <td class="card-text">@Model.Hotel.Region</td>
            </tr>
            <tr>
                <td class="card-title">@localizer["City"]</td>
                <td class="card-text">@Model.Hotel.City</td>
            </tr>
            <tr>
                <td class="card-title">@localizer["Address"]</td>
                <td class="card-text">@Model.Hotel.Address</td>
            </tr>
         <tr>
             <td class="card-title">@localizer["Description"]</td>
             <td class="card-text">@Model.Hotel.Description</td>
         </tr>
         <tr>
            <td class="card-title">@localizer["Property type"]</td>
            <td class="card-text"> @ViewData["propertyType"]</td>
            </tr>
         <tr>
             <td class="card-title">@localizer["Price"]</td>
             <td class="card-text">
                 @if (Model.Hotel.Price == 0)
                 {
                     <i>@localizer["Unknown"]</i>
                 }
                 else
                 {
                     @Model.Hotel.Price
                     <span>Ft</span>
                 }
             </td>
         </tr>
         </table>
            </div>
        <div class="col-md-1"></div>
        <div class="col-md-6">
            @if (@Model.Hotel.Reviews.Count == 0)
                        {
                            <h5>@localizer["Average rating"]: <i>@localizer["none"]</i></h5>
                        }
                        else
                        {
                            <h5>@localizer["Average rating"]: @ViewData["averageRating"]</h5>
                        }
            @if (@Model.Hotel.Reviews.Count != 0)
            {
                <table class="table">
                    <tr>
                        <th>@localizer["Rating"]</th>
                        <th>@localizer["Review"]</th>
                    </tr>
                    @foreach (var review in @Model.ReviewsPagingList)
                    {
                        <tr>
                            <td>@review.Rating</td>
                            <td>@review.Text</td>
                        </tr>
                    }
                </table>
                @if (@Model.Hotel.Reviews.Count >= 3)
                {
                    <div>
                        @for (int i = 1; i <= Model.ReviewsPagingList.PageCount; i++)
                        {
                            <a role="button" class="btn-outline-dark btn-sm"
                               asp-action="@Model.ActionName"
                               asp-route-city="@Model.QueryParam.City"
                               asp-route-guest="@Model.QueryParam.Guest"
                               asp-route-page="@i">@i</a>
                        }
                    </div>
                }
            }
            else
            {
                <p>@localizer["There is no rating yet."]</p>
            }
            <hr />
            @if (Model.User != null)
            {
                @if (!Model.IsReviewed)
                {
                    <form asp-controller="Hotel" asp-action="HotelReview" asp-route-hotelId="@Model.Hotel.HotelId" method="post">
                        <div class="form-group">
                            <h5>@localizer["Leave a review!"]</h5>
                            <label asp-for="@Model.Rating"></label>
                            <select type="text" asp-for="@Model.Rating">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                            </select>
                            <span asp-validation-for="@Model.Rating" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="@Model.Text"></label>
                            <textarea asp-for="@Model.Text" class="form-control" rows="3" maxlength="200"></textarea>
                            <span asp-validation-for="@Model.Text" class="text-danger"></span>
                        </div>
                        <div>
                            <button type="submit" class="btn btn-outline-dark waves-effect btn-sm">@localizer["Send"]</button>
                        </div>
                    </form>
                }
                else
                {
                    <p><i>@localizer["You are already reviewed this hotel."]</i></p>
                }
            }
        </div>
    </div>
    <hr />
        @if (@Model.FolderList.Count <= 4)
        {
                @for (int i = 0; i < @Model.FolderList.Count; i++)
                {
                        <figure class="col-md-3 mb-3">
                            <a class="mybox" href="@Model.FolderList[i].Path" data-lcl-thumb="">
                                <img alt="picture" class="img-fluid" src="@Model.FolderList[i].Path">
                            </a>
                        </figure>
                }
                }
                else
                {
                <div id="multi-item-example" class="carousel slide carousel-multi-item carousel-multi-item-2" data-ride="carousel">
                    <div class="carousel-inner" role="listbox">
                            <div class="carousel-item active">
                                @for (int i = 0; i < 4; i++)
                                {
                                    <div class="col-md-3 mb-3">
                                        <div class="card">
                                            <a class="mybox" href="@Model.FolderList[i].Path">
                                                <img class="img-fluid" src="@Model.FolderList[i].Path">
                                            </a>
                                        </div>
                                    </div>
                                }
                            </div>
                            @for (int i = 1; i < (@Model.FolderList.Count) / 4; i++)
                            {
                                <div class="carousel-item">
                                    @for (int j = (i * 4); j < (i * 4 + 4); j++)
                                    {
                                        <div class="col-md-3 mb-3">
                                            <div class="card">
                                                <a class="mybox" href="@Model.FolderList[j].Path">
                                                    <img class="img-fluid" src="@Model.FolderList[j].Path">
                                                </a>
                                            </div>
                                        </div>
                                    }
                                </div>
                            }
                            <div class="carousel-item">
                                @for (int i = @Model.FolderList.Count - (@Model.FolderList.Count % 4); i < @Model.FolderList.Count; i++)
                                {
                                    <div class="col-md-3 mb-3">
                                        <div class="card">
                                            <a class="mybox" href="@Model.FolderList[i].Path">
                                                <img class="img-fluid" src="@Model.FolderList[i].Path">
                                            </a>
                                        </div>
                                    </div>
                                }
                            </div>
                    </div>
                    <div class="controls-top">
                        <a class="black-text" href="#multi-item-example" data-slide="prev"><i class="fas fa-angle-left fa-3x pr-3"></i></a>
                        <a class="black-text" href="#multi-item-example" data-slide="next"><i class="fas fa-angle-right fa-3x pl-3"></i></a>
                    </div>
                </div>
                }
                <hr />
    <div>
        @if (Model.User != null && (Model.User.Id.Equals(Model.Hotel.UserId) || User.IsInRole("Admin")))
        {
            <form asp-controller="Hotel" asp-action="EditHotel" asp-route-HotelId="@Model.Hotel.HotelId" method="get" class="my-btn">
                <button type="submit" class="btn btn-outline-primary waves-effect btn-sm">@localizer["Edit"]</button>
            </form>

            <form asp-controller="Hotel" asp-action="AddRoom" asp-route-HotelId="@Model.Hotel.HotelId" method="get" class="my-btn">
                <button type="submit" class="btn btn-outline-success waves-effect btn-sm">@localizer["Add room"]</button>
            </form>
        }
        <a class="btn btn-outline-danger waves-effect btn-sm" asp-controller="Home" asp-action="Index" role="button">@localizer["Cancel"]</a>
    </div>
    <hr />
      <h4>@localizer["Check Availability"]</h4>
                  <form asp-controller="Hotel" asp-action="HotelInfo" asp-route-hotelId=@ViewData["hotelId"] method="post">
                      <div class="form-group">
                          <label for="start">@localizer["Start date"]:</label>
                          <input type="date" input value="YYYY-MM-DD" min="2019-01-01" max="2025-12-31" name="start" id="start">
                          <br/>
                          <label for="end">@localizer["End date"]:</label>
                          <input type="date" input value="YYYY-MM-DD" min="2019-01-01" max="2025-12-31" name="end" id="end">
                          <br/>
                          <button class="btn btn-outline-dark waves-effect btn-sm" asp-action="HotelInfo">@localizer["Search"]</button>
                      </div>
                  </form>
                @if (Model.Hotel.Rooms.Count != 0)
                {
                    <table class="table">
                        <h4>@localizer["Available Rooms"]</h4>
                        <tr>
                            <th>@localizer["Room name"]</th>
                            <th>@localizer["Price"]</th>
                            <th>@localizer["Number of guests"]</th>
                            <th>@localizer["Number of rooms"]</th>
                            <th>@localizer["Beds"]</th>
                            <th></th>
                        </tr>
                        @if (Model.Rooms != null)
                        {@foreach (var room in Model.Rooms)
                            {
                                <tr>
                                    <td>@room.RoomName</td>
                                    <td>@room.Price</td>
                                    <td>@room.NumberOfGuests</td>
                                    <td>@room.NumberOfRooms</td>
                                    <td>
                                        @foreach (var bed in Model.RoomBeds)
                                        {
                                            @if (room.RoomId == bed.RoomId)
                                            {
                                                <div>
                                                    <span>@bed.Bed.NumberOfBeds</span>
                                                    @if (@bed.Bed.NumberOfBeds > 1)
                                                    {
                                                        <span>@localizer[@bed.Bed.BedType]<span>@localizer["s"]</span></span>
                                                    }
                                                    else
                                                    {
                                                        <span>@localizer[@bed.Bed.BedType]</span>
                                                    }
                                                </div>
                                            }
                                        }
                                        @if (Model.User != null && (Model.User.Id.Equals(Model.Hotel.UserId) || User.IsInRole("Admin")))
                                        {
                                            <a asp-controller="Hotel" asp-action="AddBed" asp-route-hotelId="@Model.Hotel.HotelId" asp-route-roomId="@room.RoomId">@localizer["+ add bed"]</a>
                                        }
                                    </td>
                                    <td>
                                        @if (User.IsInRole("Guest") || User.IsInRole("Hotel Manager"))
                                        {
                                            <form asp-controller="Reservation" asp-action="AddReservation" asp-route-roomId="@room.RoomId" asp-route-hotelId="@Model.Hotel.HotelId" method="get">
                                                <button type="submit" class="btn btn-warning">@localizer["Reserve Room"]</button>
                                            </form>
                                        }
                                    </td>
                                </tr>
                            }
                    }
                    else
                    {
                        @foreach (var room in Model.Hotel.Rooms)
                        {
                            <tr>
                                <td>@room.RoomName</td>
                                <td>@room.Price</td>
                                <td>@room.NumberOfGuests</td>
                                <td>@room.NumberOfRooms</td>
                                <td>
                                    @foreach (var bed in Model.RoomBeds)
                                    {
                                        @if (room.RoomId == bed.RoomId)
                                        {
                                            <div>
                                                <span>@bed.Bed.NumberOfBeds</span>
                                                @if (@bed.Bed.NumberOfBeds > 1)
                                                {
                                                    <span>@localizer[@bed.Bed.BedType]<span>@localizer["s"]</span></span>
                                                }
                                                else
                                                {
                                                    <span>@localizer[@bed.Bed.BedType]</span>
                                                }
                                            </div>
                                        }
                                    }
                                    @if (Model.User != null && (Model.User.Id.Equals(Model.Hotel.UserId) || User.IsInRole("Admin")))
                                    {
                                        <a asp-controller="Hotel" asp-action="AddBed" asp-route-hotelId="@Model.Hotel.HotelId" asp-route-roomId="@room.RoomId">@localizer["+ add bed"]</a>
                                    }
                                </td>
                                <td>
                                    @if (User.IsInRole("Guest") || User.IsInRole("Hotel Manager"))
                                    {
                                        <form asp-controller="Reservation" asp-action="AddReservation" asp-route-roomId="@room.RoomId" asp-route-hotelId="@Model.Hotel.HotelId" method="get">
                                            <button type="submit" class="btn btn-warning btn-sm">@localizer["Reserve Room"]</button>
                                        </form>
                                    }
                                </td>
                            </tr>
                        }
                    }
                    </table>
                }
                <hr />
                <div class="row">
                    <div class="col-md-6">
                       
                    </div>
                    
                </div>
            </div>
        </div>