@model SettingsViewModel

<h1>@Model.User.UserName @localizer["'s settings"]</h1>
<div class="rows">
    <form>
        <div>
            <h4>Change the language of the page</h4>
            @await Html.PartialAsync("_SelectLanguagePartial")
        </div>
        <h4>Change your password</h4>
        <div>
            <label asp-for="@Model.OldPassword"></label>
            <input asp-for="@Model.OldPassword"/>
            <span asp-validation-for="OldPassword" class="text-danger"></span>
        </div>
        <div>
            <label asp-for="@Model.NewPassword"></label>
            <input asp-for="@Model.NewPassword"/>
            <span asp-validation-for="NewPassword" class="text-danger"></span>
        </div>
        <div>
            <label asp-for="@Model.ConfirmPassword"></label>
            <input asp-for="@Model.ConfirmPassword"/>
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>
    </form>
</div>
