@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager

<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"]</title>
    <meta name="viewport" content="width-device-width" />
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.10/css/mdb.min.css" rel="stylesheet">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <link href="~/css/StyleSheet.css" rel="stylesheet" type="text/css" />
    <link href="~/css/lc_lightbox.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">

    <title>@ViewBag.Title</title>
</head>
<body>
    <nav class="navbar sticky-top navbar-light bg-light">
            <a class="navbar-brand" asp-action="Index" asp-controller="Home">
                <img src="~/images/gt_logo.png" height="40" width="40">
                <span class="webpage-name">Garnet Travel</span>
            </a>
            <ul class="navbar-nav ml-auto nav-flex-icons">
                @if (SignInManager.IsSignedIn(User))
                {
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-333" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-user"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right dropdown-default"
                             aria-labelledby="navbarDropdownMenuLink-333">
                            <a asp-action="MyReservation" asp-controller="Reservation" class="dropdown-item">
                                @localizer["My Reservation"]
                            </a>
                            <a asp-action="AddTaxiReservation" asp-controller="Reservation" class="dropdown-item">
                                @localizer["Taxi Reservation"]
                            </a>
                            @if (!User.IsInRole("Guest"))
                            {
                                <a asp-action="AddHotel" asp-controller="Hotel" class="dropdown-item">
                                    @localizer["AddHotel"]
                                </a>
                                <a asp-action="MyHotels" asp-controller="Hotel" class="dropdown-item">
                                    @localizer["My Hotels"]
                                </a>
                            }
                            <form method="post" asp-action="Logout" asp-controller="Home">
                                <button type="submit" class="nav-link btn btn-link py-0" style="width: auto">
                                    @localizer["Logout"]
                                </button>
                            </form>
                        </div>
                    </li>
                    <a asp-action="Settings" asp-controller="AppUser" method="get" class="nav-link btn btn-link py-0"
                       style="width: auto ">
                        <i class="fas fa-wrench"></i>
                    </a>
                }
                else
                {
                    <li class="nav-item">
                        <a asp-action="Login" asp-controller="Login"class="btn btn-sm btn-outline-indigo">@localizer["Login"]</a>
                    </li>
                    <li class="nav-item">
                        <a asp-action="Register" asp-controller="Register" class="btn btn-sm btn-outline-indigo">@localizer["Register"]</a>
                    </li>
                }
            </ul>
    </nav>
    <div class="container">
        <div id="my-padding">
            @RenderBody()
        </div>
    </div>
    <footer class="page-footer font-small indigo fixed-bottom">        
        <div class="footer-copyright text-center py-3">
             @DateTime.Now.Year Copyright:
            <a href="#"> Garnet Crew From Tetris</a>
        </div>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.10/js/mdb.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="~/lib/AlloyFinger/alloy_finger.min.js"></script>
    <script src="~/js/lc_lightbox.lite.min.js"></script>
    <script>
        lc_lightbox('.mybox', {
            wrap_class: 'lcl_fade_oc',
            gallery: true,
            socials: true,
            fullscreen: true,
            autoplay: true,
        })
    </script>
</body>
</html>